<div class="tabs-container">
  <nav>
    <a [ngClass]="tab.tabName" [class.active]="tab.tabName === activeTab" (click)="setActiveTab(tab.tabName)" *ngFor="let tab of tabs">
      {{tab.tabName}}
    </a>
  </nav>
  <div class="tabs">
    <div class="tab" [hidden]="tab.tabName !== activeTab" *ngFor="let tab of tabs">
      <div class="specialty" *ngFor="let spec of tab.specialties">
        <div class="row">
          <div class="icon {{toClass(spec.icon)}}" (mouseover)="toggleTooltip(spec)" (mouseleave)="toggleTooltip(spec)">
          </div>
          <div class="specialty-info">
            <div class="tooltip" [hidden]="!spec.showTooltip">{{capitalize(spec.tooltip)}}</div>
            <h3>{{spec.name}}</h3>
            <div class="row">
              <div class="amt">{{spec.purchased}}/{{spec.max}}</div>
              <div class="next-amt">
                <span [hidden]="spec.purchased === spec.max">{{spec.start}}</span>
                <span class="masterText" [hidden]="spec.purchased !== spec.max">Master</span>
              </div>
            </div>
          </div>
          <div class="plus-minus-widget">
            <button (click)="purchaseEvent.emit({spec: spec, amt: 1, event: $event})" [disabled]="spec.purchased === spec.max">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
            <button (click)="purchaseEvent.emit({spec: spec, amt: -1, event: $event})" [disabled]="spec.purchased === 0">
              <i class="fa fa-minus" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>