input {
  border-radius: 5px;
  border: none;
}

input[type="number"] {
  width: 50px;
  padding: 2px;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  font-size: .875em;
}

.amount {
  color: #80ffff;
}

input[type="text"] {
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}

.total-component {
  /*width: 250px;*/
  /*left: -280px;*/
  /*position: absolute;*/
  margin: 10px 15px 20px;
  padding: 10px;
  background-color: #100F17;
  border-radius: 10px;
  /*border: 5px solid #273348;*/
  color: white;
}

.saveForm {
  display: flex;
}

.saveForm :first-child {
  margin-right: 1em;
}

button.saveButton {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  border-radius: 5px;
  background-color: #05132a;
  border: 2px solid #1c58a3;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
  position: relative;
  outline-color: transparent;
  outline-style: none;
  margin-right: 10px;
}

button.saveButton.saved:after {
  font-family: FontAwesome;
  content: '\f00c';
  position: absolute;
  left: calc(100% + 5px);
  color: green;
  font-size: 25px;
}

button.load-btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  border-radius: 5px;
  background-color: #05132a;
  border: 2px solid #1c58a3;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
  margin-left: auto;
}

button.delete-btn {
  font-size: 20px;
  background-color: transparent;
  border: none;
  color: #cccccc;
  margin-left: 20px;
  margin-left: 5px;
  cursor: pointer;
}

.amount-container {
  display: flex;
}

.amount-container :last-child {
  margin-left: auto;
}

.amount-container h3 {
  margin-top: 0;
}

.build-stats h3 {
  margin-bottom: .1em;
}

h3 {
  margin: .5em 0;
}

table {
  font-size: 1em;
}

td:first-child {
  padding-right: 15px;
}

td:last-child {
  font-family: 'Roboto Mono';
  padding-left: 15px;
  font-size: 1.1em;
  text-align: right;
  width: 3em;
}

td:last-child:after {
  content: '%';
}

.saved-states ul {
  font-family: 'Montserrat', sans-serif;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.saved-states ul li {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

@media (min-width: 375px) {
  .total-component {
    padding: 20px;
    max-width: 345px;
  }
  
  table {
    font-size: 1.2em;
  }
}

@media (min-width: 1000px) {
  .total-component {
    margin-top: 0;
  }
}